<nav class="navbar navbar-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav navbar-nav float-lg-left">
          <li class="nav-item">
            <a class="nav-link" href="#">Northern Solutions AB</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="clearfix float-lg-left">
          <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler hidden-lg-up float-xs-right" data-target="#navbarResponsive" data-toggle="collapse" type="button"></button>
          <a class="navbar-brand">rekneskapsjobb.no</a>
        </div>
        <div class="collapse navbar-toggleable-md" id="navbarResponsive">
          <ul class="nav navbar-nav float-lg-left">
            <li class="nav-item">
              <a class="nav-link" href="#">Ledige stillinger</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Bedriftsprofiler</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Let the job find you</a>
            </li>
          </ul>
          <ul class="nav navbar-nav float-lg-right">
            <li class="nav-item">
              <button class="btn btn-for-employers" type="submit">For arbeidsgivare</button>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="ion-person" aria-hidden="true" style="font-size:1.5rem;"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
